{% extends 'base.html' %}

{% block content %}
<h2>Track Your Service Requests</h2>
<table>
    <thead>
        <tr>
            <th>Customer Name</th>
            <th>Request Type</th>
            <th>Request Status</th>
            <th>Request Date</th>
        </tr>
    </thead>
    <tbody>
        {% for request in requests %}
        <tr>
            <td>{{ request.customer_name }}</td>
            <td>{{ request.get_request_type_display }}  <td>{{ request.request_status }}</td>
            <td>{{ request.request_date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
